html, body { padding: 0; margin: 0; }
h2 { font-size: 18px; line-height: normal; padding: 0; margin: 0 0 8px 0; }
h3 { font-size: 16px; line-height: normal; padding: 0; margin: 0 0 8px 0; }
h4 { font-size: 14px; line-height: normal; }
#sponsor { clear: both; background-color: #000; padding: 10px; color: #CCC; }
#sponsor, #sponsor a { font-size: 14px; }
#sponsor a { color: #FFC; }

header { padding: 10px 0; }
header ul { position: absolute; margin-top: 20px; margin-left: 20px; }
header ul, header li { list-style-type: none; display: inline; }
header li { display: inline; margin-right: 20px; }
header li.follow { margin-right: 0 !important; }

footer { clear: both; background-color: #000; padding: 20px 0; color: #666; }
footer a { color: #CCC; }

#splash { text-align: center; color: #FFF; background: #000 url(../assets/splash.png) no-repeat top center; height: 350px; margin-bottom: 20px; }
#splash h1 { padding-top: 20px; font-size: 36px; font-weight: normal; line-height: 40px; }
#splash h2 { padding: 30px 0; font-size: 16px; font-weight: normal; }

.row .section { padding: 0 20px 20px 20px; }

#content2 { background-color: #F5F5F5; padding: 20px 40px; border-top: 1px solid #CCC;}
#content2 pre { background-color: #FFF; }


.codeexamples, .codeexamples li { list-style-type: none; text-indent: 0; padding-left: 0; margin-left: 0; }

li pre { margin: 8px 0 16px 0 !important; }
li ol, li ul { margin: 0 0 16px 12px !important; }
pre { font-size: 11px !important; line-height: 16px; }

.firstrow { border-top: 1px solid #CCC !important; }
.row1, .row2 { padding: 12px 0px; border-top: 1px solid #FFF; border-bottom: 1px solid #CCC; background-position: bottom center !important; background-repeat: no-repeat !important; }
.row1 { background: #EEE url(../assets/row2.png); }
.row1 pre { background-color: #F5F5F5; }
.row2 { background: #F5F5F5 url(../assets/row1.png);  }
.row2 pre { background-color: #FFF; }

span.green { color: #390; }
span.blue { color: #069; }
span.blue2 { color: #07C; }
span.blue3 { color: #00F;}
span.red { color: #900; }

/* github follow button via http://www.bicknoyle.com/twitter-style-github-follow-button/ */
.github-follow-button {
  display: inline-block;
  height: 20px;
  *height: 18px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 5px 0 19px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  font-size: 11px;
  line-height:18px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  text-decoration:none;
  color: #333333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  vertical-align: top;
  text-align: left;
  cursor: pointer;
  background-color: #F8F8F8;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #DEDEDE);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#DEDEDE));
  background-image: linear-gradient(center top , #FFFFFF, #DEDEDE);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#DEDEDE')
}
.github-follow-button:hover {
  border-color:#BBBBBB;
  background-image: -moz-linear-gradient(center top , #F8F8F8, #D9D9D9);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#F8F8F8),to(#D9D9D9));
  background-image: linear-gradient(center top , #F8F8F8, #D9D9D9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8',endColorstr='#D9D9D9')
}
.github-follow-button img {
  height: 13px;
  width: 13px;
  position: absolute;
  left: 3px;
  top: 50%;
  margin-top: -6px;
  border:none;
}